body {
        background-image: url(space.png);
        background-size: cover;
        background-repeat: no-repeat;
        color: aliceblue;
        font-family: sans-serif;
        font-weight: 400;
        background-color: #131313;
    }

.app {
    height: 100vh;
}

.chat_container {
    background-color: transparent;
    padding: 3.5%;
    margin: 7.5% 10% 5% 10%;
    border-radius: 10px;
    position: sticky;
}

.chat_container--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 15%;
}

.chat_container--header h1 {
    font-weight: 700;
    font-size: 250%;
}

.chat_container--chat_area {
    max-height: 500px;
    overflow-y: auto;
    scrollbar-color: rgb(9, 32, 75) transparent;
    scroll-behavior: auto;

}


.awaiting_message {
    border-radius: 5px;
    margin-top: 5%;
    padding: 10%;
    width: 15%;
    height: 1%;
    background-color: rgb(3, 41, 39);
    animation-name: awaiting_message_animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier();
    position: relative;
}

@keyframes awaiting_message_animation {
    0% {
        top: 0px;
        opacity: 90%;
    }
    25% {
        top: -15px;
        opacity: 70%
    }
    50% {
        top:0px;
        opacity: 90%;
    }
    75% {
        top: -15px;
        opacity: 70%
    }
    100% {
        top: 0;
        opacity: 90%;
    }
}


@media screen and (max-width: 500px){
    .chat_container {
        background-color: transparent;
        padding: 3.5%;
        margin: 5%;
        border-radius: 10px;
        height: 100%;
    }

    .chat_container--header {
        display: flex;
        justify-content: space-between;
        text-align: center;
        position: sticky;
    }

    .chat_container--header h1 {
        font-weight: 700;
        font-size: 100%;
    }


    .chat_container--chat_area {
        max-height:50vh;
        overflow-y: auto;
        scrollbar-color: rgb(9, 32, 75) transparent;
        scroll-behavior: auto;
    }
}