body {
    background-color: rgb(10, 21, 54);
    color: aliceblue;
    font-family: sans-serif;
    font-weight: 400;
}

.chat_container {
    background-color: rgb(78, 102, 146);
    padding: 3.5%;
    margin: 7.5% 10% 5% 10%;
    border-radius: 10px;
}

.chat_container--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.chat_container--header h1 {
    font-weight: 700;
    font-size: 250%;
}

.chat_container--chat_area {
    max-height: 500px;
    overflow-y: auto;
    scrollbar-color: rgb(9, 32, 75) transparent;
    scroll-behavior: auto;

}

.messages_field_container {
    display: flex;
    flex-direction: column;
  }

.dont_awaiting_message {
    display: none;
}

.awaiting_message {
    border-radius: 5px;
    margin-top: 5%;
    padding: 10%;
    width: 15%;
    height: 1%;
    background-color: rgb(3, 41, 39);
    animation-name: awaiting_message_animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier();
    position: relative;
}

@keyframes awaiting_message_animation {
    0% {
        top: 0px;
        opacity: 90%;
    }
    25% {
        top: -15px;
        opacity: 70%
    }
    50% {
        top:0px;
        opacity: 90%;
    }
    75% {
        top: -15px;
        opacity: 70%
    }
    100% {
        top: 0;
        opacity: 90%;
    }
}

.message_styles {
    align-items: center;
    width: 50%;
    border-radius: 5px;
    margin-top: 3%;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    word-wrap: break-word;
    padding-top: 2%;
    padding-bottom: 3%;
    padding-left: 3%;
    animation-name: message_appear_animation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier();
    position: relative;
    padding-right: 10%;
}

@keyframes message_appear_animation {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}

.message_styles--image_container {
    display: flex;
    margin-right: 3%;
    width: 20%;
}

.message_styles--text_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.message_styles--header {
    display: flex;
    align-items: baseline;
    align-content: center;
    margin-bottom: 2%;
    justify-content: space-between;
    position: relative;
    width: 100%;
}


.message_styles legend {
    font-weight: 600;
    font-size: 135%;
}

.message_styles--header time {
    font-size: 10px;
    opacity: 60%;
    padding-right: 15%;
}

.robot_message_styles {
    background-color: #032927;
}
.user_message_styles {
    align-self: end;
    background-color: rgb(4, 112, 116);
}

.server_status {
    display: flex;
    background-color: rgb(204, 207, 30);
    width: 12%;
    text-align: center;
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
}

.server_status--connected {
    display: flex;
    background-color: rgb(30, 207, 139);
    width: 12%;
    text-align: center;
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
}

.server_status--not_connected {
    display: flex;
    background-color: rgb(129, 2, 2);
    width: 12%;
    text-align: center;
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
}


.messages_container {
    margin-top: 5%;
    position: sticky;
    background-color: rgb(9, 32, 75);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 5px;

  }


.messages_container--user_fields {
    align-self: center;
    display: flex;
    padding: 2%;
    height: 5%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.messages_container--input {
    height: fit-content;
    width: 90%;
    border: 0px;
    border-radius: 5px;
    padding: 1%;
}

.messages_container--sub_button {
    height: fit-content;
    padding: 1.8%;
    border-radius: 5px;
    background-image: url(message.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-color: #328bc1;
}